body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#header {
    background: #212121;
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -ms-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #373737, #212121);
}

#title {
    color: white;
    vertical-align: center;
    font-size: 24px;
    margin-left: 25px;
    line-height: 1.7;
}

.link-container {
    background: #212121;
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -ms-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #373737, #212121);
    color: white;
    position: absolute;
    bottom: 0;
    height: 19%;
    width: 100%;
}

.screen {
    width: 50%; 
    height: 60%;
    position: absolute;
    margin-left: 2%;
    top:38%;
    -webkit-transition: all 1.25s ease-out;
    display: inline-block;
    transition: all 1.25s;
    z-index: 100;
    opacity: 1;
    overflow: hidden;
    background-color: white;
    /*border: 1px solid black;*/
}

.background {
    opacity: .4;
    z-index: 0;
    margin-left: 0px;
    margin-bottom: 0px;
    border: none;
}
.background#projects {
    -webkit-transform: translate(-25%, -80%) scale(.5, .5);
}
.background#github {
    -webkit-transform: translate(25%, -80%) scale(.5, .5);
}
.background#resume {
    -webkit-transform: translate(75%, -80%) scale(.5, .5);
}
.background#blog {
    -webkit-transform: translate(125%, -80%) scale(.5, .5);
}

.screen img {
    width: 100%;
}
.link-container {
    text-align: center;
    font-size: 36px;
    line-height: 2.2;
}
.link-container a {
    text-decoration: none;
    color: white;
}

.link-container a:hover {
    color: #24e4ff;
}

.link-container a[disabled]:hover {
    color: white;
    cursor: default;
}