{{> base/header.html}}
<div id="header">
    <span id="title">yonatankogan.com</span>
</div>
<div class='screen' id="projects" name='projects'>
    <div class="section-content">
        These are my projects
    </div>
    <div class="link-container">
        Projects
    </div>
</div><!-- Comment fixes the space being renderer between inline-blocks
--><div class='screen' id="github" name='github'>
    <div class="section-content">
        Here are some repos I've contributed to
    </div>
    <div class="link-container">
        <a href="http://github.com/yjkogan" disabled target="_blank">Github</a>
    </div>
</div><!--
--><div class='screen' id="resume" name='resume'>
    <div class="section-content">
        <a href="/static/resume.pdf" target="_blank"><img id="resume-image" src="/img/my_resume.jpg"/></a>
    </div>
    <div class="link-container">
    Resume
    </div>
</div><!--
--><div class='screen' id="blog" name="blog">
    <div class="section-content">
        This is my blog
    </div>
    <div class="link-container">
        <a href="http://blog.yonatankogan.com" disabled target="_blank">Blog</a>
    </div>
</div>
{{> base/footer.html}}