{{> base/header.html}}
<div id="header">
    <span id="title">yonatankogan.com</span>
</div>
<div class='screen' id="projects" name='projects'>
    <div class="section-content">
        <h3>Some of the projects I've built or contributed to:</h3>
        <li><a href="http://gifbasket.yonatankogan.com" disabled target="_blank">Gif Basket</a></li>
        <li>
            <a href="http://vicky-coverflow-staging.herokuapp.com" disabled target="_blank">A display of my friend Vicky Ge's Beautiful Drawings</a>
            <ul>
                <li>
                    <a href="http://vickymakesstuff.tumblr.com/" disabled target="_blank">The Tumblr source</a>
                </li>
                <li>
                    CSS heavily drawn from <a href="http://sandropaganotti.com/2011/08/05/a-pure-css3-coverflow-effect-for-chrome-firefox-and-safari/" target="_blank">here</a>.
                </li>
            </ul>
        </li>
        <li>
            <a href="http://www.strikingly.com/captiv" disabled target="_blank">Captiv</a>
            <ul>
                <li>See all <a href="http://publishinghackathon.challengepost.com/submissions">Hackathon Submissions</a></li>
            </ul>
        </li>
    </div>
    <div class="link-container">
        Projects
    </div>
</div><!-- Comment fixes the space being renderer between inline-blocks
--><div class='screen' id="github" name='github'>
    <div class="section-content">
    <h3>Repos!</h3>
        <li><a href="http://github.com/yjkogan/goodreads-oauth" disabled target="_blank">OAuth iOS library for Goodreads</a></li>
        <li><a href="http://github.com/yjkogan/booklvrs" disabled target="_blank">Booklvrs (In progress)</a></li>
    </div>
    <div class="link-container">
        <a href="http://github.com/yjkogan" disabled target="_blank">Github</a>
    </div>
</div><!--
--><div class='screen' id="resume" name='resume'>
    <div class="section-content">
        <a href="/static/resume.pdf" target="_blank"><img id="resume-image" src="/img/my_resume.jpg"/></a>
    </div>
    <div class="link-container">
    Resume
    </div>
</div><!--
--><div class='screen' id="blog" name="blog">
    <div class="section-content">
        <h3>Most Recent Blog Post</h3>
        {{{ latest_blog_post }}}
    </div>
    <div class="link-container">
        <a href="http://blog.yonatankogan.com" disabled target="_blank">Blog</a>
    </div>
</div>
{{> base/footer.html}}